{sys, [
       {lib_dirs, ["../../", "../lib"]},
       {rel, "eblog", "1",
        [
         kernel,
         stdlib,
         sasl,
         misultin,
         eblog
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "eblog"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, eblog, [{incl_cond, include}]}
      ]}.

{target_dir, "eblog"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "../priv", "priv"},
           {copy, "../templates", "templates"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/eblog", "bin/eblog"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
