<form method='post' action="post" method="post">
<label>Title</label><input name="title" id="titel" type="text"/><br/>
<label>Post</label><br/>
<textarea name="post" id="post"></textarea><br/>
<label>Keywords</label><input name="keywords" id="keywords" type="text"/><br/>
<input title="Login" type="submit"/>
</form>