<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style/blog.css" type="text/css" media="screen" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed" />
    <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="/feed/atom" />
  </head>
  <body>
    {{body}}
    <hr/>
    <a href="/">Home</a> | <a href="http://oddeyedcode.org">Code</a> | <a href="/admin">Admin</a>
  </body>
<html>
