<form method='post' action="admin" method="post">
<label>User</label><input name="User" id="user" type="text"/><br/>
<label>Password</label><input name="Password" id="password"/><br/>
<input title="Login" type="submit"/>
</form>